In [10]:
import numpy
import xlrd
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline
from numpy.linalg import inv

Read the file

In [144]:
workbook=pd.read_csv("data_assignment1.csv")
#workbook = pd.ExcelFile("Portfolios_Formed_on_ME_daily.xlsx")
#sheet_names=workbook.sheet_names
#df = workbook.parse(sheet_names[0])
#data=df.iloc[9:,:]
#data.head(10)
data=workbook.iloc[:,:]
data.head(10)

,Year,Month,Day,Lo 10,43436,43437,43438,43439,43440,43441,43442,43443,Hi 10,MKT_vw
0,1926,7,1,0.58,-0.13,0.68,-0.06,-0.38,-0.07,-0.08,-0.06,0.08,0.18,0.109
1,1926,7,2,-0.53,-0.40,0.16,0.10,0.29,0.36,0.51,0.41,0.37,0.52,0.459
2,1926,7,6,-0.33,0.61,-0.38,0.23,0.68,0.33,0.15,0.33,0.11,0.16,0.179
3,1926,7,7,0.28,-0.10,-0.40,-0.54,0.31,0.17,0.19,0.16,-0.04,0.13,0.099
4,1926,7,8,0.55,-0.90,0.04,0.23,-0.06,0.28,0.17,0.20,0.20,0.27,0.219
5,1926,7,9,-0.57,0.77,-0.04,0.09,-0.66,-0.07,-0.54,-0.87,-0.64,-0.78,-0.701
6,1926,7,10,0.73,0.05,0.24,0.35,-0.10,0.72,0.42,0.51,0.78,0.65,0.629
7,1926,7,12,0.38,0.26,0.03,0.53,-0.05,0.04,0.12,-0.15,0.13,0.04,0.049
8,1926,7,13,1.07,0.01,0.16,0.14,0.17,0.69,0.42,0.48,0.23,0.58,0.489
9,1926,7,14,-1.20,0.07,-0.28,0.05,0.37,-0.33,0.44,-0.01,0.15,0.01,0.049

# Change data to log-returns

In [145]:
data_log=np.log(1+data.iloc[:,3:]/100) 
frames = [data.iloc[:,0:3], data_log]
data = pd.concat(frames, axis=1)
data=data[data['Year'] < 2010]
data.tail(10)

,Year,Month,Day,Lo 10,43436,43437,43438,43439,43440,43441,43442,43443,Hi 10,MKT_vw
22117,2009,12,17,-0.008940,-0.011364,-0.013288,-0.010657,-0.011364,-0.009747,-0.012275,-0.012883,-0.010454,-0.011870,-0.011870
22118,2009,12,18,0.011336,0.008762,0.012126,0.010742,0.006777,0.007571,0.003494,0.006578,0.004589,0.006380,0.006777
22119,2009,12,21,0.007373,0.012225,0.013804,0.013114,0.015775,0.013410,0.013114,0.012225,0.010544,0.009257,0.010247
22120,2009,12,22,0.005385,0.010346,0.011731,0.009455,0.009158,0.008167,0.007770,0.006678,0.005286,0.002696,0.004291
22121,2009,12,23,0.010049,0.011830,0.013410,0.012126,0.007671,0.006678,0.006280,0.006578,0.005385,0.001898,0.003594
22122,2009,12,24,0.004988,0.003992,0.004888,0.004789,0.005087,0.005286,0.004888,0.005883,0.005485,0.004789,0.005087
22123,2009,12,28,0.001499,-0.001301,0.000600,-0.000800,-0.003606,-0.002202,-0.000600,-0.001401,-0.001101,0.001998,0.000800
22124,2009,12,29,0.001399,0.000200,-0.000900,0.000600,-0.002002,-0.000500,-0.001501,0.000000,-0.002102,-0.000800,-0.000900
22125,2009,12,30,0.001299,0.003494,-0.001501,-0.002403,-0.001001,-0.002002,-0.001701,-0.001101,-0.000200,0.000500,0.000000
22126,2009,12,31,-0.000900,-0.009949,-0.012073,-0.014302,-0.010859,-0.011162,-0.010252,-0.010859,-0.011263,-0.009545,-0.009949

# 1. Computing Means

(a) Compute the daily means and standard deviations of all portfolio returns, expressed in percents

In [146]:
data_mean=data.iloc[:,3:].mean(0) # mean (by column) 
data_std=data.iloc[:,3:].std(0)
print(data_mean,data_std)

Lo 10     0.000442
43436     0.000405
43437     0.000418
43438     0.000425
43439     0.000407
43440     0.000421
43441     0.000395
43442     0.000386
43443     0.000366
Hi 10     0.000330
MKT_vw    0.000346
dtype: float64 Lo 10     0.012927
43436     0.013118
43437     0.012359
43438     0.011993
43439     0.011878
43440     0.011496
43441     0.011522
43442     0.011295
43443     0.011244
Hi 10     0.010877
MKT_vw    0.010734
dtype: float64

(b) Express the daily means and standard deviations into monthly and annualized percents

In [151]:
#22 business days/month
#264 business days/year
data_mean_monthly=data_mean*20
data_mean_annualy=data_mean*250
data_std_monthly=data_std*math.sqrt(22)
data_std_annualy=data_std*math.sqrt(264)
print("monthly:",data_mean_monthly, data_std_monthly)
print("annualy:",data_mean_annualy, data_std_annualy)

monthly: Lo 10     0.008838
43436     0.008095
43437     0.008362
43438     0.008508
43439     0.008146
43440     0.008421
43441     0.007891
43442     0.007716
43443     0.007326
Hi 10     0.006591
MKT_vw    0.006925
dtype: float64 Lo 10     0.060635
43436     0.061528
43437     0.057970
43438     0.056251
43439     0.055711
43440     0.053919
43441     0.054043
43442     0.052978
43443     0.052741
Hi 10     0.051018
MKT_vw    0.050347
dtype: float64
annualy: Lo 10     0.110475
43436     0.101186
43437     0.104530
43438     0.106347
43439     0.101830
43440     0.105268
43441     0.098634
43442     0.096451
43443     0.091570
Hi 10     0.082381
MKT_vw    0.086568
dtype: float64 Lo 10     0.210045
43436     0.213139
43437     0.200813
43438     0.194858
43439     0.192990
43440     0.186780
43441     0.187212
43442     0.183522
43443     0.182699
Hi 10     0.176731
MKT_vw    0.174406
dtype: float64

(c) Can you compute the means using a simple regression? How?

We do a linear regression on each time series.
Ordinary Least Square: Beta=(X.T * X)^(-1) X.T * Y
But actually it is exactly the same computatation as the mean computation.

In [152]:
X=np.ones(len(data.iloc[:,1]))
for i in range(3,14):
    Beta=np.dot(1/(np.dot(X.T,X)),np.dot(X.T,data.iloc[:,i]))
    print(Beta)

0.000441901639475
0.000404743202334
0.000418119488396
0.000425389371771
0.000407318623935
0.00042107133913
0.000394536573276
0.000385803572889
0.000366280175358
0.000329525502069
0.000346271611084

(d) We create two data frames (pre-1945 & post-1945) and then apply a T-test (actually we apply a Welsh T-test because the size of the samples is not equal).

In [154]:
data_pre = data[data['Year'] < 1945]
data_post=data[data['Year'] >= 1945]
# T test
for i in range(3,14):
    mean1=data_pre.iloc[:,i].mean(0) # mean (by column) 
    stdev1=data_pre.iloc[:,i].std(0)
    mean2=data_post.iloc[:,i].mean(0) # mean (by column) 
    stdev2=data_post.iloc[:,i].std(0)
    s=math.sqrt(stdev1/len(data_pre.iloc[:,i])+stdev2/len(data_post.iloc[:,i]))
    t=(mean1-mean2)/s
    degree_freedom_numerator=np.power((stdev1/len(data_pre.iloc[:,i])+stdev2/len(data_post.iloc[:,i])),2)
    degree_freedom_denominator=np.power((stdev1/len(data_pre.iloc[:,i])),2)/(len(data_pre.iloc[:,i])-1)+np.power(stdev2/len(data_post.iloc[:,i]),2)/(len(data_post.iloc[:,i])-1)
    degree_freedom=degree_freedom_numerator/degree_freedom_denominator
    s_distribution = np.random.standard_t(degree_freedom, size=100000)
    p_value=(np.sum(s_distribution<-abs(t))+np.sum(s_distribution>abs(t)))/float(len(s_distribution))
    print(i-2,p_value)

1 0.9527
2 0.93113
3 0.91047
4 0.92588
5 0.89922
6 0.93764
7 0.87494
8 0.89242
9 0.88208
10 0.90023
11 0.89517

Because the p-value are large (typically all above 80%), we accept the null hypothesis: the return before and after 1945 are the same. The data are below:

In [155]:
#Print the data
for i in range(3,14):
    mean1=data_pre.iloc[:,i].mean(0) # mean (by column) 
    mean2=data_post.iloc[:,i].mean(0) # mean (by column) 
    print(i-2," mean < 1945: ",mean1," mean > 1945 : ",mean2)

1  mean < 1945:  0.0003489110789160738  mean > 1945 :  0.0004728704821029044
2  mean < 1945:  0.0002705099088994599  mean > 1945 :  0.0004494471993285662
3  mean < 1945:  0.000252788806789268  mean > 1945 :  0.0004731799142004581
4  mean < 1945:  0.00029297412847257746  mean > 1945 :  0.0004694878996914248
5  mean < 1945:  0.00022593021636700873  mean > 1945 :  0.000467726788103667
6  mean < 1945:  0.0003111005364615283  mean > 1945 :  0.0004576951476219169
7  mean < 1945:  0.00017421900301751783  mean > 1945 :  0.0004679093986497549
8  mean < 1945:  0.00020237101519748855  mean > 1945 :  0.00044689250468676135
9  mean < 1945:  0.0001602265094922272  mean > 1945 :  0.000434902662550376
10  mean < 1945:  0.00016230801761680524  mean > 1945 :  0.000385214293805937
11  mean < 1945:  0.00017065193314237727  mean > 1945 :  0.0004047586030514011

# Efficient Markets

(a) We would like to calibrate an ARMA(1,0) on the log-returns. In order to do that, we do a linear regression: Beta=(X.T * X)^(-1) X.T * Y

In [159]:
n=len(data.iloc[:,1])
Result_beta=[]
for i in range(3,14):
    Y=data.iloc[1:n,i]
    X=data.iloc[0:n-1,i]
    one= pd.Series(1, index=range(0,n-1))
    X=pd.concat([one, X], axis=1)
    Beta=np.dot(inv(np.dot(X.T,X)),np.dot(X.T,Y))
    Result_beta=Result_beta+[Beta]
    print("c: ", Beta[0],"phi: ",Beta[1])

c:  0.000357826875699 phi:  0.189684407283
c:  0.000341952078718 phi:  0.155149252547
c:  0.000341133654877 phi:  0.183189320745
c:  0.000353207934755 phi:  0.169526920929
c:  0.000341871561743 phi:  0.160944255878
c:  0.000351389454721 phi:  0.165401839178
c:  0.000336392764839 phi:  0.147329602727
c:  0.00033898198905 phi:  0.12131689667
c:  0.000329982692034 phi:  0.098902192213
c:  0.000317662313306 phi:  0.0357509415318
c:  0.000319529196092 phi:  0.0770290855697

(b) Test Autocorrelation of the series: Ljung-Box test

In [160]:
# Ljung-Box test
from scipy.stats import chi2
lag=1000 #approximately 4 years (mettre Ã  1000)
quantile=0.05
for i in range(3,14):
    s=0
    for h in range(1,lag+1):
        sample_autocorrelation=data_pre.iloc[:,i].autocorr(h) # sample autocorrelation (by column) 
        s=s+np.power(sample_autocorrelation,2)/(n-h)
    Q=n*(n+2)*s
    s_distribution = chi2.isf(1-quantile, lag)
    if (Q>s_distribution):
        decision=" => reject"
    else:
        decision=" => accept"
    print(i-2,Q,s_distribution,decision)

1 6067.14210065 927.594363021  => reject
2 6031.25249661 927.594363021  => reject
3 6830.76607252 927.594363021  => reject
4 6182.90480963 927.594363021  => reject
5 5831.87709105 927.594363021  => reject
6 6177.60776259 927.594363021  => reject
7 5495.65482588 927.594363021  => reject
8 5754.42366605 927.594363021  => reject
9 5462.25076057 927.594363021  => reject
10 5671.18188983 927.594363021  => reject
11 5480.99743466 927.594363021  => reject

For all portfolio, the market is not efficient.

In [172]:
# T Test
for i in range(0,10):
    Y=data.iloc[1:n,i+3]
    X=data.iloc[0:n-1,i+3]
    c=Result_beta[i][0]
    beta=Result_beta[i][1]
    ss_tot=0
    ss_res=0
    for k in range(0,n-1):
        ss_tot=ss_tot+np.power((Y.iloc[k]-Y.mean(0)),2)
        ss_res=ss_res+np.power(Y.iloc[k]-(c+X.iloc[k]*beta),2)/n
    sb=math.sqrt(ss_res/ss_tot)
    t=beta/sb
    print(t)
    s_distribution = np.random.standard_t(n, size=100000)
    p_value=(np.sum(s_distribution<-abs(t))+np.sum(s_distribution>abs(t)))/float(len(s_distribution))
    print(i, p_value)

28.7375655962
0 0.0
23.3615557936
1 0.0
27.7187306402
2 0.0
25.587721507
3 0.0
24.2569088506
4 0.0
24.9473697236
5 0.0
22.1572781574
6 0.0
18.180343951
7 0.0
14.7843282339
8 0.0
5.32140681525
9 0.0

p-values are very small, therefore we reject the null hypothesis, which was "Phi is significantly close from 0". Therefore the time series are autocorrelated.

# Data-Mining

(a) Regression for the first three deciles
(b) We have to find a way to know whether our regression works or not. R^2 method ?

In [175]:
n=len(data.iloc[:,1])
for i in range(3,6): # first 3 deciles
    # (a)
    Y=data.iloc[1:n,13]
    X=data.iloc[0:n-1,i]
    one= pd.Series(1, index=range(0,n-1))
    X2=pd.concat([one, X], axis=1)
    Beta=np.dot(inv(np.dot(X2.T,X2)),np.dot(X2.T,Y))
    print("c: ", Beta[0],"phi: ",Beta[1])
    
    # (b)
    # T Test
    c=Beta[0]
    beta=Beta[1]
    ss_tot=0
    ss_res=0
    for k in range(0,n-1):
        ss_tot=ss_tot+np.power((Y.iloc[k]-Y.mean(0)),2)
        ss_res=ss_res+np.power(Y.iloc[k]-(c+X.iloc[k]*beta),2)/n
    sb=math.sqrt(ss_res/ss_tot)
    t=beta/sb
    print("t-value: ", t)
    s_distribution = np.random.standard_t(n, size=100000)
    p_value=(np.sum(s_distribution<-abs(t))+np.sum(s_distribution>abs(t)))/float(len(s_distribution))
    print(i, p_value)

c:  0.000336717782688 phi:  0.0215408458446
t-value:  3.2053112933
3 0.00148
c:  0.000334582892213 phi:  0.0287631079091
t-value:  4.28120024324
4 0.0
c:  0.000330800886051 phi:  0.0368706184388
t-value:  5.48950754312
5 0.0

P-values are very small, therefore we reject the null hypothesis, which was "Phi is significantly close from 0". Therefore we can forecast the market returns using the small companies returns.